table {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

td[id=nb_issues] {
    text-align: center;
}

td[id=name] {
    padding-left: 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #343a40;
    color: white;
    text-align: center;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background-color: #b4bab8
}

caption {
    text-align: center;
}

canvas {
    width: 60%;
    margin:auto;
    padding-bottom: 20px;
}

.overlay {
    padding-bottom: 10px;
}

.p-5[id=img] {
    text-align: right;
}
.p-5[id=img2] {
    text-align: left;
    margin: auto;
    width: 400px;
}

.p-5 {
    width:600px;
}

h3[id=entreprise] {
    color: white;
    margin-top: 100px;
    font-size: 50pt;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

#tableDescription, #graphDescritpion, #graphDescritpionPie {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.display-4[id=chartTitle], .display-4[id=chartTitle2] {
    margin-bottom: 30px;
}

a {
    font-weight: bold;
}

.gray {
    background-color: rgb(240, 240, 240);
    margin-top: 50px;
    padding: 10px;
}

.white {
}

#logo {
    width: 200px;
    margin: auto;
    text-align: center;
    display: block;
}